<h1 id="title"><%= post["title"] %><br/>
<span id="author">by <%= post["author"] %></span>
</h1>

<div id="tags">
  <%= post["tags"].join(', ') %>
</div>

<div id="description">
  <p>
  <%= post["description"] %>
  </p>
</div>


